{% extends '::base.html.twig' %}

{% block title %}Expense Budget Exporter{% endblock %}

{% block main %}
	<div id="heading">
		<h3>Expense Budget</h3>
	</div>
	<div id="main">
		{% if id == false %}
			<h4>No expense budget found.</h4>
		{% else %}
			<h4>Your expense budget report is generated.</h4>
		{% endif %}
	</div>
{% endblock %}