{% extends '::base.html.twig' %}

{% block title %}Home{% endblock %}

{% block main %}
	<div id="main">
		<div id="home_nav">
			<ul>
				<li><a href="{{ path('pas_budget_request_form') }}">Budget Request</a></li>
				<li><a href="{{ path('pas_budget_confirmation_form') }}">Budget Confirmation</a></li>
				<li><a href="{{ path('pas_pre_request_form') }}">Pre-payment Request</a></li>
				<li><a href="#">Pre-payment Approval</a></li>
				<li><a href="#">Pre-payment Review</a></li>
				<li><a href="{{ path('pas_post_request_form') }}">Payment Request</a></li>
				<li><a href="#">Payment Approval</a></li>
				<li><a href="#">Payment Review</a></li>
			</ul>
		</div>
		<div id="goid">
			<form>
				<label for="id">Please enter ID:</label>
				<br />
				<input id="id" name="id" type="text" />
				<button>Go</button>
			</form>
		</div>
	</div>
{% endblock %}